.screen10 {
    position: relative;
    overflow: hidden;
    background: #13162b url('../img/screen10.jpg') no-repeat 50% 0;

    h1 {
        color: #fff;
        text-align: center;
        padding-top: 40px;

        &:before {
            left: 50%;
            margin-left: -20px;
            @include gradient-top(#69e9b4, #5ad4d3);
        }
    }

    .centered {
        padding-top: 70px;
        padding-bottom: 60px;
        position: relative;

        ul {
            width: 100%;
            list-style: none;
            text-align: center;
            padding-top: 35px;
            float: left;

            li {
                display: inline-block;
                padding: 20px 40px 0 40px;
                vertical-align: middle;

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }

                img {
                    display: inline-block;
                    opacity: .35;
                    transition: opacity 0.4s;
                    vertical-align: middle;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 950px) {
    .screen10 {
        .centered {
            padding-top: 45px;
            padding-bottom: 55px;

            ul li {
                padding-left: 20px;
                padding-right: 20px;

                &:last-child,
                &:first-child {
                    padding-right: 20px;
                }
            }

            
        }
    }
}

@media screen and (min-width: 1900px) {
    .screen10 {
        background-size: 100%;
    }
}

